.feature-item {
    position: relative;
    padding-bottom: 2.2rem;

    @mixin atSmall {
      padding-left: 94px;
 
    }  

    &__icon {
        display: block;
        margin: 0 auto;
        
       @mixin atSmall {
         position: absolute;
         left: 0;
       }
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: .7em;
        margin-bottom: .8rem;
        text-align: center;
       
        @mixin atSmall {
            text-align: left;
            margin-top: 1.em;
            font-size: 1.875rem;
        }
    }

}