.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;

    @mixin atSmall {
         font-size: 3.75rem;
    }

strong {
    font-weight: 500;
       
} 
&--blue {
    color: $mainBlue;
}
&--less-margin {
    margin-bottom: 1.3rem;
    margin-top: 0;   /* this for overlay section (get in touch) */
}
 
&__icon {
    margin-right: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;


    @mixin atSmall {
        /*below two lines for real testimonial icon */ 
        position: relative;
        top: 8px;
        margin-right: .5rem;
        margin-left: 0;
        margin-bottom: 0;
        display: inline-block;
    }

}
}